<% provide(:title, 'Email Export Results') %>
<h1>Email Export Results</h1>
<h3><%= draw_scope_str(@email_export) %><%= size_scope_str(@email_export) %><%= locked_scope_str(@email_export) %></h3>
<% if @email_export.leaders.empty? %>
  <p>No matching groups</p>
<% else %>
  <table>
    <tbody>
      <% @email_export.leaders.each do |l| %>
        <tr>
          <td><%= l.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<%= link_to 'New email export', new_email_export_path, class: 'button secondary' %>
