<% provide(:title, "#{@draw.name} - Handle Oversubscription") %>
<h1><%= @draw.name %> - Handle Oversubscription</h1>
<div class="draw-menu-container" data-sticky-container>
  <div class="draw-menu" data-sticky data-margin-top="0">
    <ul class="vertical menu" data-accordion-menu>
      <% if policy(@draw).lock_all_sizes? %>
        <li><%= link_to 'Lock all sizes', lock_all_sizes_draw_path(@draw, redirect_path: draw_path(@draw)),
          method: :patch,
          **with_tooltip(text: 'This will lock ALL group sizes, preventing new groups from being created.', class_override: 'button') %></li>
      <% end %>
      <% if policy(@draw).toggle_size_lock? %>
        <% @draw.suite_sizes.each do |size| %>
          <li><%= toggle_size_lock_btn(draw: @draw, size: size, path: draw_path(@draw)) %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
<div class="draw-body">
  <div class="group-report">
    <%= render 'group_report', sizes: @draw.sizes, groups: @draw.groups_by_size, 
      diff: @diff, group_counts: @draw.group_counts,
      suite_counts: @draw.suite_counts, actions_partial: 'groups/actions',
      path: oversub_draw_path(@draw) %>
</div>
</div>
<%= link_to 'Return to draw', draw_path(@draw) %>
