<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Vesta" %></title>

    <%= stylesheet_link_tag :application, media: "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>">
    <header>
      <%= render "nav" %>
    </header>
    <%= render "flashes" -%>
    <main class="row" role="main" data-equalizer>
      <div class="small-12 large-3 large-push-9 columns" style="border-left: 1px solid #DDDDDD;" data-equalizer-watch>
        <%= yield :sidebar %>
      </div>
      <div class="small-12 large-9 large-pull-3 columns" data-equalizer-watch>
        <%= yield %>
      </div>
    </main>
    <%= render "footer" %>
    <%= render "javascript" %>
    <%= render "css_overrides" %>
  </body>
</html>
